code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  text-align: center;
}

.title {
  text-align: center;
  font: 24px "Century Gothic", Futura, sans-serif;
}

.victory {
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row-1:after {
  clear: both;
  content: "";
  display: table;
}

.board-row-2 {
  border-top: 3px solid #000;
}

.board-row-2:after {
  clear: both;
  content: "";
  display: table;
}

.board-row-3 {
  border-top: 3px solid #000;
}

.board-row-3:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 10px 0 20px 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  display: inline-block;
}

/* .square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
} */

.square {
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2;
  float: left;
  font-size: 24px;
  background: #fff;
  border: 0px;
}

.square:nth-child(3n + 1) {
  clear: both;
}

.square:nth-child(5),
.square:nth-child(6n + 2) {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

/* .square:nth-child(4),
.square:nth-child(5),
.square:nth-child(6) {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
} */
